{:deps
 {clj-http {:mvn/version "2.3.0"}
  org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.xerial/sqlite-jdbc {:mvn/version "3.21.0"}
  org.clojure/java.jdbc {:mvn/version "0.7.5"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  com.layerware/hugsql {:mvn/version "0.4.8"}
  org.postgresql/postgresql {:mvn/version "42.1.4"}}
 :aliases 
 {;; 2022-06-06
  :repl/rebel
  {:extra-deps {nrepl/nrepl                {:mvn/version "0.9.0"}
                cider/cider-nrepl          {:mvn/version "0.28.2"}
                com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"
                "-f" "rebel-readline.main/-main"]}
  
  ;; older nrepl dep, but with updated? versions
  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"} ;; 0.6.0
                refactor-nrepl {:mvn/version "2.4.0"} ;; 2.4.0
                cider/cider-nrepl {:mvn/version "0.28.2"}} ;; 0.21.1
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"
               "--interactive"
               ]}
  ;; graalvm
  :native-image
  {:main-opts ["-m clj.native-image core"
               "--initialize-at-build-time"
               ;; optional native image name override
               "-H:Name=core"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]

   ;; https://github.com/taylorwood/clj.native-image#contributing
   ;; You'll need Clojure CLI tooling and GraalVM installed to test locally. Just change the source of the
   ;; clj.native-image dependency to a :local/root instead of :git/url.

   :extra-deps
   {clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}}


